<h1>news <a href="{{ path('thecodeine_news_edit', {'id': news.id}) }}">Edytuj</a></h1>
<table>
    <tr>
        <th>Id</th>
        <td>{{ news.id }}</td>
    </tr>
    <tr>
        <th>Utworzono</th>
        <td>{{ news.createdAt|date("Y-m-d") }}</td>
    </tr>
    {% if news.category %}
        <tr>
            <th>Kategoria</th>
            <td>{{ news.category.name }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Tytuł</th>
        <td>{{ news.title }}</td>
    </tr>
    <tr>
        <th>Treść</th>
        <td>{{ news.body|raw }}</td>
    </tr>
    <tr>
        <th>Slug</th>
        <td>{{ news.slug }}</td>
    </tr>
</table>